# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
# dist
tmp
/out-tsc
# /packages
# dependencies
node_modules

# env files
packages/config/.env.dev
packages/config/devConfig.ts
packages/config/prodConfig.ts
packages/config/dist/devConfig.json
packages/config/dist/prodConfig.json

# uploaded files
packages/file_handler/dist/uploads

# docker compose files used for development
packages/nrlais/docker-compose.yml
packages/psnp-pw/docker-compose.yml
packages/nrlais/parcels_etl/config.json
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
